.event-access-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-form {
  width: 350px;
  height: 350px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.event-form p {
  text-align: center;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pin-input {
  width: 80%;
  flex: 1;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 0.7rem;
}

.submit-button {
  padding: 15px 25px;
  background-color: #1f282f;
  color: #fff;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  margin-top: 20px;
  display: block;
}

.submit-button:hover {
  background-color: #364752;
}
.pirvate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #364752;
  text-align: center;
}
