@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

.event-form-page-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    border-top: 3px solid #ffff;
    border-bottom: 3px inset rgb(149, 149, 149);
    padding-top: 5px;
    padding-bottom: 10px;
}

.event-form-page-header-lb {
    /* border: 1px solid black; */
}

.event-form-page-header-lb>button {
    margin-left: 15px;
    padding: 0px 15px 5px 15px;
    height: 35px;
    font-weight: 500;
    border: 3px inset #ffff;
    border-radius: 20px;
    /* border: 1px solid black; */
}

.event-form-page-header-rb {
    display: flex;
}


.event-form-page-header-rb>h4:first-child {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 700;
}

.event-form-page-header-rb>h4:nth-child(2) {
    margin-left: 25px;
    font-size: 26px;
}

.event-form-main-container {
    display: flex;
    width: 100%;
}

.event-form-main-container>section:first-child {

    width: 70%;
}



.event-form-page-main-button-container>section>button {
    font-size: 14px;
    font-weight: 500;
    border: none;
    padding: 5px 15px;
    color: black;
    background-color: transparent;
}

.event-form-page-main-button-container>section>button:hover {
    background-color: #ececec;
}









.cloud-upload-icon {
    font-size: 56px;
}

.event-form-main-container>section:last-child {}

.event-form-main-container>.rb {
    width: 25%;
    /* border: 1px solid red; */
    box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.75);
}

.event-form-main-container>.rb>div:first-child {
    height: 250px;
    border-bottom: 2px solid rgb(134, 134, 134);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-form-main-container>.rb>div:nth-child(2) {
    height: 75px;
    border-bottom: 2px solid rgb(134, 134, 134);
}

.event-form-main-container>.rb>div:first-child>div {
    height: 80%;
    width: 70%;
    box-shadow: 1px 6px 5px 1px rgba(75, 75, 75, 0.75);
    -webkit-box-shadow: 1px 6px 5px 1px rgba(75, 75, 75, 0.75);
    -moz-box-shadow: 1px 6px 5px 1px rgba(75, 75, 75, 0.75);
}

.event-form-main-container>.rb>div:first-child>div>section {
    display: flex;
    justify-content: center;
}

.event-form-main-container>.rb>div:first-child>button {
    margin-top: 5px;
}

.event-form-main-container>.rb>div>div>section {}

.cover-pic-preview-image-container {
    height: 100%;
    width: 100%;
    position: relative;
}

#cover-pic-input {
    /* visibility: hidden; */
}

.cover-pic-preview-image {
    width: 100%;
    height: 100%;
}

.cover-pic-preview-image-dustbinIcon {
    position: absolute;
    top: 0%;
    left: 0%;
    color: black;
    cursor: pointer;
}

.cover-pic-preview-image-dustbinIcon>input {
    width: 100%;
}

.event-form-edit-textarea {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
}

.event-form-main-container>.rb>div:nth-child(3) {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid rgb(134, 134, 134);
}

.event-form-main-container>.rb>div:nth-child(3)>p:first-child {}

.event-form-main-container>.rb>div:nth-child(3)>p:last-child {
    font-size: 13px;
}

.rounded-btns {
    padding: 7px 15px 7px 15px;
    height: 35px;
    font-weight: 500;
    /* border: 3px inset #ffff; */
    border-radius: 20px;
    background-color: rgb(244, 243, 243);
    cursor: pointer;
    border:none ;
    box-shadow:0px 2px 0px 0px inset rgb(201, 200, 200),
    0px 5px 0px 0px inset rgb(255, 255, 255),
    0px -5px 0px 0px inset rgb(255, 255, 255),
    0px 0px 0px 1px  rgb(201, 200, 200)


    /* 0px 0px 5px 5px  rgb(199, 199, 199) */
    ;
}

.delete-event-btn-wrapper {
    text-align: center;
    margin-top: 10px;
}

.add-images-popup-modal {
    margin: auto;
    width: 75%;
    height: 75%;
}