/* event.css */

/* Container styles */
.event-container {
  max-width: 98%;
  margin: 0 auto;
  padding: 15px;
}

/* Title styles */
.event-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.tabs {
  background: #1f282f;
  padding: 10px;
  border-radius: 1rem;
}

/* Tab button styles */
.tab-button {
  padding: 10px 20px;
  border-radius: 1rem;
  cursor: pointer;
  background-color: #1f282f;
  color: #fff;
  transition: background-color 0.3s ease;
  margin-left: 20px;
}

.tab-button:hover {
  background-color: #bbbbbb;
  color: #1f282f;
}

/* Active tab button styles */
.tab-button.active {
  background-color: #e6e6e6;
  color: #1f282f;
}

/* ShowImages and ShowVideos container styles */
.show-container {
  margin-top: 20px;
}
