.set-password-container{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.set-password-ip{
    padding: 5px 10px;
}

.set-password-submit-btn{
    padding: 5px 10px;
    border-radius: 3px;
    background-color: rgb(34, 34, 34);
    color: #ffff;
}

.set-password-submit-btn:hover{
    background-color: rgb(49, 49, 49);
}